/* some style */
#cljs-editor {
    width: 50%;
    float: left;
}

#cljs-log {
    width: 49%;
    float: left;
    margin-left: 5px;
}

#cljs-container {
    position: absolute;
    left: 5px;
    width: 95%;
    height: 50%;
    top: 5px;
    transition: top 1s ease-in-out;
}

#cljs-container.collapsed {
    top: -70%;
}
